<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="/eel.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="img/ico_wite.ico">
    <title>Gerênciador</title>
</head>

<body onload="load_page();">

    <div class="Head">
        <h2>Gerênciador de Revendas</h2>
        <a>Simpress</a>
    </div>

    <div class="Content">

        <div class='Div Extrator'>
            <div class="header">
                <object class='Icon' data="imgs/cloud-download.svg"> </object>
                <h2>Extrator</h2>
            </div>

            <p class='text'>
                Extraia os arquivos automaticamente para pasta configurada.
            </p>
            <button onclick="botao_1()" class="button-execut">Executar</button>
        </div>

        <div class='Div Extrator'>
            <div class="header">
                <object class='Icon' data="imgs/tools.svg"> </object>
                <h2>Corretor</h2>
            </div>

            <p class='text'>
               Verifique os erros dos arquivos baixados e destaque seus erros.
            </p>
            <button onclick="botao_2()" class="button-execut">Executar</button>
        </div>

        <div class='Div Extrator'>
            <div class="header">
                <object class='Icon' data="imgs/clipboard2-check.svg"> </object>
                <h2>Confirmação</h2>
            </div>

            <p class='text'>
                Após a verificação manual dos erros, mova os arquivos para a pasta de arquivos corretos.
            </p>
            <button onclick="botao_3()" class="button-execut">Executar</button>
        </div>

        <div class='Div Extrator'>
            <div class="header">
                <object class='Icon' data="imgs/sliders.svg"> </object>
                <h2>Configuração</h2>
            </div>

            <p class='text'>
                Configure as vaviáveis do programa.
            </p>
            <button onclick="botao_4()" class="button-execut">Executar</button>
        </div>

    </div>



    <script src="scripts.js"></script>
</body>

</html>